@page
@model BuscarUnaPersona.BuscarModel
@{
    ViewData["Title"] = "Detalle persona";
}
<h1>Información de la persona</h1>
<br>
<br>
    <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <!--<label asp-for="Persona_enc.Persona_id" class="control-label"></label>
                <input asp-for="Persona_enc.Persona_id" class="form-control" readonly></input>-->
                <label asp-for="Persona_enc.Id" class="control-label"></label>
                <input asp-for="Persona_enc.Id" class="form-control" readonly></input>
            </div>
            <div class="form-group">
                <label asp-for="Persona_enc.Nombre" class="control-label"></label>
                <input asp-for="Persona_enc.Nombre" class="form-control" readonly></input>
            </div>
            <div class="form-group">
                <label asp-for="Persona_enc.Apellidos" class="control-label"></label>
                <input asp-for="Persona_enc.Apellidos" class="form-control" readonly></input>
            </div>
            <div class="form-group">
                <label asp-for="Persona_enc.Documento" class="control-label"></label>
                <input asp-for="Persona_enc.Documento" class="form-control" readonly></input>
            </div>
            <div class="form-group">
                <label asp-for="Persona_enc.FechaNacimiento" class="control-label"></label>
                <input asp-for="Persona_enc.FechaNacimiento" class="form-control" readonly></input>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="button" onclick="window.location.replace('/Personas/List')" value="Aceptar" />
            </div>
        </form>
    </div>
</div>
<br>