@page
@model ActualizarDirectivo.ActualizarModel
@{
     ViewData["Title"] = "Actualizar directivo";
}
<h1>Actualizar directivo</h1>
<br>
<br>
    <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input asp-for="Directivo.Id" class="form-control"type="hidden"></input>
            </div> 
            <!--<div class="form-group">
                <label for="companyL"><b>Empresa :</b></label>
                <select>                   
                    foreach (var empresa in Model.Empresas)
                    {
                        <option value="empresa.Id">empresa.Nombre</option>
                    
                    }
                </select>
            </div>-->
            <div class="form-group">
                <label for="companyL"><b>Empleado :</b></label>
                <select asp-for="Directivo.EmpleadoId" class="form-control">                   
                    @foreach (var empleado in Model.Empleados)
                    {
                        <option value="@empleado.Id">@empleado.PersonaRef.Nombre @empleado.PersonaRef.Apellidos - @empleado.PersonaRef.Documento</option>
                    
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="name"><b>Categoria :</b></label>
                <input asp-for="Directivo.Categoria" class="form-control"></input>
            </div>                 
            <br>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-success"/>
                <input class="btn btn-secondary" type="button" onclick="window.location.replace('/Directivos/List')" value="Cancelar" />
            </div>
        </form>
    </div>
</div>
<br>